<section id="highlights" class="w-screen overflow-hidden min-h-screen commom-padding bg-zinc">
  <div class="screen-max-width">
    <div id="highlightHeading" class="mb-12 w-full md:flex items-end justify-between mb-8">
      <h1 id="title" class="section-heading">Get the Highlights</h1>

      <div class="flex flex-wrap items-end gap-5">
        <p class="link">
          Watch the film

          <img src="{{ watchImg }}" alt="watch" />
        </p>

        <p class="link">
          Watch the event

          <img src="{{ rightImg }}" alt="right" />
        </p>
      </div>
    </div>

    <app-video-carousel></app-video-carousel>
  </div>
</section>
